{% extends 'base.html' %}

{% block content %}

<header>
    <div class="container-fluid">
        <div id="mainSlider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
                <li data-target="#mainSlider" data-slide-to="1"></li>
                <li data-target="#mainSlider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/imagem/unes.png" class="d-block w-100" alt="Projeto de e-commerce">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/imagem/rosa.jpg" class="d-block w-100" alt="Engenharia de Software">
                    <div class="carousel-caption d-none d-md-block ">
                        <h4>Graduação</h4>
                        <h2 class="d-inline-flex p-2">Vestibular 2024</h2>
                        <a href="#" class="main-btn">Inscrições abertas</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/imagem/azul.jpg" class="d-block w-100" alt="Manutenção de Software">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Mestrado e Doutorado</h3>
                        <h2 class="d-inline-flex p-2">2024</h2>
                        <a href="#" class="main-btn">Inscreva-se</a>
                    </div>
                </div>
            </div>
            <a href="#mainSlider" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-idden="true"></span>
                <span class="sr-only">Previus</span>
            </a>
            <a href="#mainSlider" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-idden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <section class="m-5">
        <div class="graduacao-card">
            <h3>Graduação</h3>
            <p>Confira os nossos cursos de graduação</p>
            <div class="card-deck">
                <div class="card bg-secondary mb-3" style="max-width: 10rem;">
                    <a href="#">
                        <img class="card-img-top" src="/static/imagem/saude.png" alt="graduacao">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-center">Saúde</h5>
                        </div>
                    </a>
                </div>
                <div class="card bg-secondary mb-3" style="max-width: 10rem;">
                    <a href="#">
                        <img class="card-img-top" src="/static/imagem/engenharia.png" alt="especialização">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-center">Engenharia e Tecnologia</h5>
                        </div>
                    </a>
                </div>
                <div class="card bg-secondary mb-3" style="max-width: 10rem;">
                    <a href="#">
                        <img class="card-img-top" src="/static/imagem/humanas.png" alt="mestrado e doutorado">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-center">Humanidades</h5>
                        </div>
                    </a>
                </div>
                <div class="card bg-secondary mb-3" style="max-width: 10rem;">
                    <a href="#">
                        <img class="card-img-top" src="/static/imagem/educacao.png" alt="mestrado e doutorado">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-center">Educação e Artes</h5>
                        </div>
                    </a>
                </div>
                <div class="card bg-secondary mb-3" style="max-width: 10rem;">
                    <a href="#">
                        <img class="card-img-top" src="/static/imagem/ead.png" alt="mestrado e doutorado">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-center align-bottom">EAD</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <h3>Pós Graduação</h3>
        <p></p>
        <div class="card-deck">
            <div class="card">
                <a href="#">
                    <img class="card-img-top rounded-bottom shadow bg-white rounded" src="/static/imagem/graduacao.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Especialização e Aperfeiçoamento</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img class="card-img-top rounded-bottom shadow bg-white rounded"
                        src="/static/imagem/especialização.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">MBA</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img class="card-img-top rounded-bottom shadow bg-white rounded" src="/static/imagem/doutorado.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mestrado e Doutorado</h5>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="m-5">
        <p>
        <h2 class="text-center">Por que estudar na Unes?</h3>
            </p>
            <div class="card-deck p-2">
                <div class="card border-0">
                    <img class="card-img-top rounded-circle" src="/static/imagem/universidade.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Mais de 50 anos de história</h5>
                        <p class="card-text">A Unes foi fundada em 1971 e está preparada para enfrentar os desafios
                            atuais e futuros do ensino superior brasileiro.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top rounded-circle" src="/static/imagem/ranking.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">TOP NO RANKING OFICIAL MEC</h5>
                        <p class="card-text">São 5 anos consecutivos entre as 10 melhores univerdidades do Estado de São
                            Paulo.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top rounded-circle" src="/static/imagem/cursos.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">MAIS DE 100 CURSOS</h5>
                        <p class="card-text">Cursos de Graduação, Mestrado, Doutorado, Pós-Doutorado, Especialização,
                            MBA, Aperfeiçoamento, Aprimoramento e Extensão. Escolha seu curso.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top rounded-circle" src="/static/imagem/pesquisa.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">PESQUISA E EXTENSÃO</h5>
                        </h5>
                        <p class="card-text">Aqui nós incentivamos a pesquisa!</p>
                        </p>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top rounded-circle" src="/static/imagem/tecnologia.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">TECNOLOGIA SEMPRE A FRENTE</h5>
                        <p class="card-text">Equipados sempre com os melhores equipamentos e docente atualizados a novas
                            tecnologias.esquisa!</p>
                    </div>
                </div>
    </section>

</header>

{% endblock %}