/*Slide*/

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner{
    height: 85vh; /*altura do slide para caber dentro da tela inicial*/
}

#mainSlider .carousel-caption{
    top: 15%;
    width: 25%;
}

#mainSlider .carousel-caption h4{
    font-size: 50px;
    margin-bottom: 30px;    
    color: rgb(23, 23, 93);
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
    background-color: rgb(46, 91, 174);
    color: white;
}

#mainSlider .carousel-caption h3{
    font-size: 30px;
    font-weight: 10%;
    margin-bottom: 10px;
    color: rgb(217, 223, 236);
}

.main-btn{
    background-color: #e5a826;
    font-size: large;
    color: white;
    text-transform: uppercase;
    width: 220px;
    height: 50px;
    padding: 10px 20px;
    transition: .55s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.main-btn:hover{
    text-decoration: none;
    color: white;
    border-color:coral;
    width: 222px;
    height: 52px;
}

.carousel-indicators .active{
    background-color: #e5a826;
}

/* card graduação*/



/*breakpoints*/
.card-title{
    color: black;
    font-size: 14px;
}

.img-pos{
    width:50px;
    height: 50px;
    display: flex;
    flex-direction: row;

}

/* 480px - 768px = tablet */
@media (min-width:480px) {
    .card-title{
        color: violet;
        font-size: 14px;
        
    }

    .img-pos{
        width: 50px;
        height: 50px;

    }
    
}

/* 768px - 1024px = telas menores, laptop */
@media (min-width:768px) {
    .card-title{
        color: gray;
        font-size: 12px;
    }

    .img-pos{

    }
    
}

/* 1200px + px = Tvs */
@media (min-width:1200px) {
    .card-title{
        color: green;
    }

    .img-pos{
        

    }
    
}

